# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Studying\7\ПАЕГ\lw1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Documentation
../*/*.mp4
../*/*.docx
../*/*.pdf
